.news {
	margin-top: 2px;
	margin-bottom: 2px;
}

.scroll {
	width: auto !important;
	height: 585px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	padding: 20px !important;
}

.paginationBttns {
	width: 80% !important;
	height: 40px !important;
	list-style: none !important;
	display: flex !important;
	justify-content: center !important;
}

.paginationBttns a {
	padding: 10px !important;
	margin: 8px !important;
	border-radius: 5px !important;
	border: 1px solid #007bff !important;
	color: #007bff !important;
	cursor: pointer !important;
}

.paginationBttns a:hover {
	color: white !important;
	background-color: #007bff !important;
}

.paginationActive a {
	color: white !important;
	background-color: #007bff !important;
}
